.Rproj.user
.Rhistory
.RData
.Ruserdata
rscripts/preparation
rscripts/_old
output/
plots/Plot_correlation_urban_variables_grid.png
plots/
spectral_analysis/
data/geodata/
_old/grid_birds_abundance.csv
_old/
docs/
data/_test
